@import "tailwindcss";
@theme {
  --font-sans: "JetBrains Mono", monospace;
}

.particles-container {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  font-family: var(--font-sans);
}
